.navbar-container {
  position: sticky;
  top: 0;
  background-color: rgb(10, 16, 30);
  z-index: 1000;
}

.navbar-item {
  margin-right: 1.5rem;
  position: relative;
}

.navbar-item::before {
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 1px;
  position: absolute;
  transition: all 0.8s ease-in;
}

.navbar-item::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 1px;
  position: absolute;
  transition: all 0.8s ease-in;
}

.navbar-item:hover::before {
  width: 100%;
}

.navbar-item:active::after {
  width: 100%;
}

.navbar-nav {
  padding: 0 20px;
}

.image-content {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
}

.image-content > img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  position: absolute;
}

.content {
  width: 30%;
  height: 20%;
  background-color: aqua;
  margin: auto;
}

.content-animation {
  color: white;
}

.sec-text {
  font-family: monospace;
  color: black;
  letter-spacing: 3px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: typingne 3s steps(15) infinite alternate,
    caretne 0.5s steps(2) infinite;
}

@keyframes caretne {
  from {
    border-color: transparent;
  }

  to {
    border-color: black;
  }
}

@keyframes typingne {
  from {
    width: 0;
  }

  to {
    width: 120px;
    /* Thay đổi giá trị này để khớp với chiều dài thực tế của văn bản */
  }
}

.image-content-about {
  width: 100%;
  height: 100%;
}

.image-content-about img {
  width: 90%;
  height: 100%;
}

.description-content {
  text-align: left;
  color: rgb(170, 168, 168);
}

.job-content {
  text-align: left;
  color: rgb(230, 174, 72);
}

.name-content {
  text-align: left;
  color: white;
}
.info-content {
  text-align: left;
  color: rgb(170, 168, 168);
}

.download-cv {
  display: flex;
  align-items: start;
}

.btn-download {
  border-radius: 50px;
  height: 45px;
  width: 20%;
  /* color: white; */
  background-color: orange;
}

.abount {
  color: orange;
}

.h1-content {
  position: relative;
}

.h1-content::after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(10, 16, 30) 30%,
    white 40%,
    orange 40%,
    orange 60%,
    white 60%,
    rgb(10, 16, 30) 70%
  );
  display: flex;
  align-self: center;
}

.block-content {
  border: solid 1px white;
  background-color: #101624;
  color: rgb(170, 168, 168);
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(65, 63, 63);
}

.block-container {
  display: flex;
  justify-content: center;
}

.block-image-content {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(65, 63, 63);
  border-radius: 50%;
  /* display: flex; */
  transition: all 0.5s ease;
}
.block-image-content img {
  width: 70%;
  height: 50%;
  /* margin-top: 10px; */
  filter: brightness(0);
  transition: all 0.5s ease;
}

.block-info-content h2 {
  transition: all 0.5s ease;
}

.block-content:hover > .block-image-content img {
  filter: brightness(1);
}
.block-content:hover > .block-image-content {
  border: 1px solid orange;
}

.block-content:hover > .block-info-content h2 {
  color: orange;
}
