.navbar-container {
  position: sticky;
  top: 0;
  background-color: rgb(10, 16, 30);
  z-index: 1000;
}

.navbar-item {
  margin-right: 1.5rem;
  position: relative;
  color: white;
}

.navbar-item::before {
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 1px;
  position: absolute;
  transition: all 0.8s ease-in;
}

.navbar-item::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: white;
  height: 1px;
  position: absolute;
  transition: all 0.8s ease-in;
}

.navbar-item:hover::before {
  width: 100%;
}

.navbar-item:active::after {
  width: 100%;
}

.navbar-nav {
  padding: 0 20px;
}

.image-content {
  width: 100%;
  height: 1000px;
  position: relative;
  /* display: flex; */
}

.image-content > img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  position: absolute;
}

.content {
  width: 30%;
  height: 20%;
  background-color: aqua;
  margin-top: 380px;
}

.content-animation {
  color: white;
}

.content-animation .h11 {
  font-size: 60px;
  font-weight: 700;
}
.content-animation .texttyping {
  font-weight: 300;
}

.sec-text {
  font-family: monospace;
  color: black;
  letter-spacing: 3px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black;
  animation: typingne 3s steps(15) infinite alternate,
    caretne 0.5s steps(2) infinite;
}

@keyframes caretne {
  from {
    border-color: transparent;
  }

  to {
    border-color: black;
  }
}

@keyframes typingne {
  from {
    width: 0;
  }

  to {
    width: 120px;
    /* Thay đổi giá trị này để khớp với chiều dài thực tế của văn bản */
  }
}

.image-content-about {
  width: 100%;
  height: 100%;
}

.image-content-about img {
  width: 90%;
  height: 100%;
}

.description-content {
  text-align: left;
  color: rgb(170, 168, 168);
}

.job-content {
  text-align: left;
  color: rgb(230, 174, 72);
}

.h4-job-content {
  font-weight: 100;
}

.name-content {
  text-align: left;
  color: white;
}

.h2-name-content {
  font-weight: 400;
}

.info-content {
  text-align: left;
  color: rgb(170, 168, 168);
}

.download-cv {
  display: flex;
  align-items: start;
}

.btn-download {
  border-radius: 50px;
  height: 45px;
  width: 20%;
  /* color: white; */
  background-color: orange;
}

.abount {
  color: orange;
}

.info-nen {
  font-size: 80px;
  color: #101624;
  z-index: -1;
  transform: translate(0%, 60%);
  font-weight: 700;
}

.h1-content {
  position: relative;
  font-weight: 100;
  color: orange;
  z-index: 1;
}

.h1-content::after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(10, 16, 30) 30%,
    white 40%,
    orange 40%,
    orange 60%,
    white 60%,
    rgb(10, 16, 30) 70%
  );
  display: flex;
  align-self: center;
}

.block-content {
  border: solid 1px white;
  background-color: #101624;
  color: rgb(170, 168, 168);
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(65, 63, 63);
  position: relative;
  padding: 0%;
}

.block-container {
  display: flex;
  justify-content: center;
}

.position-block1 {
  width: 100%;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
}

.position-block2 {
  width: 100%;
  height: 100%;
  position: absolute;
  /* border: 1px solid rgb(65, 63, 63); */
  /* background-color: aqua; */
  display: none;
}

.position-block2-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.block-content:hover > .position-block2 {
  display: block;
}

.block-content:hover > .position-block1 img {
  transform: scale(1.1);
  filter: brightness(30%);
}

.position-block1 img {
  width: 100%;
  height: 100%;
  /* padding-left: 20px; */
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  /* background-color: aqua; */
}

.block-image-content {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(65, 63, 63);
  border-radius: 50%;
  /* display: flex; */
  transition: all 0.5s ease;
}
.block-image-content img {
  width: 70%;
  height: 50%;
  /* margin-top: 10px; */
  filter: brightness(0);
  transition: all 0.5s ease;
}

.position-block2-content h1 {
  font-size: 60px;
  text-decoration: none;
  color: rgb(187, 128, 17);
}

.position-block2-content a {
  text-decoration: none;
  color: orange;
}

.position-block2-content h3 {
  color: white;
  font-weight: 300;
}

.block-info-content h3 {
  transition: all 0.5s ease;
}

.h3-block-info-content {
  font-weight: 350;
  font-size: 20px;
  color: white;
}

.block-content:hover > .block-image-content img {
  filter: brightness(1);
}
.block-content:hover > .block-image-content {
  border: 1px solid orange;
}

.block-content:hover > .block-info-content h3 {
  color: orange;
}
/* 
.color-container {
  background-color: rgb(46, 97, 214);
} */

.captionn {
  background-color: black;
  opacity: 0.5;
  width: 100%;
  margin-right: 100px;
}
.carousel-caption {
  right: 0;
  left: 0;
  /* border-bottom: 0; */
  bottom: 0;
}
.carousel-indicators {
  margin-bottom: 0;
  background-color: black;
  opacity: 0.5;
  margin-left: 0;
  margin-right: 0;
  border-top: 0;
  display: none;
}
.captionn h3 {
  font-family: "Montserrat Medium";
  /* max-width: 40ch; */
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  z-index: 1;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.captionn h3 span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  margin: 2.5px;
  color: rgb(255, 255, 255);
}

.captionn h3 span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.captionn h3 span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.captionnn {
  background-color: black;
  opacity: 0.5;
}
.captionnn h3 {
  transition: all 1s;
  animation: animation1 0.8s ease-out;
}
@keyframes animation1 {
  0% {
    opacity: 0;
    margin-bottom: 0px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0.5rem;
  }
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* 
----------------------------- */

.content1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}

.content1__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
  position: relative;
}

.content1__container:before {
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content1__container:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content1__container__text {
  display: inline;
  float: left;
  margin: 0;
  font-weight: 200;
}

.content1__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content1__container__list__item {
  line-height: 40px;
  margin: 0;
  color: orange;
  font-weight: 800;
}
@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  13.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  42.98% {
    transform: translate3d(0, -50%, 0);
  }
  45.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  77.3% {
    transform: translate3d(0, -50%, 0);
  }
  82.3%,
  94.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-o-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-o-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@-moz-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-moz-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.5%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.5%,
  29.5% {
    transform: translate3d(0, -25%, 0);
  }
  33.5%,
  46.5% {
    transform: translate3d(0, -50%, 0);
  }
  50.5%,
  63.5% {
    transform: translate3d(0, -75%, 0);
  }
  67.5%,
  80.5% {
    transform: translate3d(0, -50%, 0);
  }
  84.5%,
  97.5% {
    transform: translate3d(0, -25%, 0);
  }
}

.expe-h1 {
  color: white;
}

.experience {
  padding-left: 50px;
  margin-left: 20px;
  border-left: 1px solid #232935;
  text-align: left;
}

.experience-content {
  position: relative;
  padding-top: 0px;
  margin-bottom: 50px;
  /* display: inline-block; */
}

.experience-content::before {
  position: absolute;
  content: "";
  border: 2px solid #232935;
  border-radius: 50%;
  background-color: #101624;
  width: 25px;
  height: 25px;
  top: 0px;
  left: -63px;
  transition: all 0.4s ease;
}
.experience-content:hover::before {
  background-color: orange !important;
}

.experience-content h2 {
  color: rgb(240, 179, 67);
  font-weight: 300;
}

.experience-content h4 {
  color: rgb(148, 143, 143);
}

.experience-content h3 {
  color: white;
  font-weight: 300;
  font-size: 25px;
}
.experience-content p {
  color: grey;
}

.img-h1-content {
  display: flex;
}

.img-h1-content-img {
  width: 40px;
  /* padding-left: 50px; */
  margin-right: 20px;
  height: 50px;
}

.img-h1-content-img img {
  width: 100%;
  height: 100%;
}

.img-h1-content h1 {
  margin-left: 20px;
  font-weight: 350;
  font-size: 45px;
}

/* .input-content {
  width: 100%;
  box-sizing: border-box;
} */

.couple-text {
  width: 100%;
  position: relative;
  margin-top: 10px;
  display: flex;
  margin-bottom: 110px;
}

.couple-text .text-input {
  position: absolute;
  height: 60px;
  font-size: 20px;
  width: 100%;
  background-color: #232935;
  transition: none;
}

.couple-text .labelline {
  position: absolute;
  font-size: 1.3em;
  margin: 13px 16px;
  transition: all 0.2s ease;
  background-color: transparent;
  color: grey;
}

.couple-text .text-input:focus {
  color: grey;
  border-radius: 8px;
  border: 1px solid rgb(145, 95, 2);
  transition: none;
}
.couple-text .text-input:valid {
  color: grey;
  border-radius: 8px;
  border: 1px solid rgb(187, 121, 0);
  transition: none;
}

.couple-text .text-input:focus + .labelline {
  color: orange;
  height: 30px;
  transform: translate(4px, -30px);
  z-index: 1222;
  font-size: 15px;
  padding: 0 10px;
  background-color: #0a101e;
  border: 1px solid orange;
  border-top: none;
}
.couple-text .text-input:valid + .labelline {
  color: orange;
  height: 30px;
  transform: translate(4px, -30px);
  z-index: 1222;
  font-size: 15px;
  padding: 0 10px;
  background-color: #0a101e;
  border: 1px solid orange;
  border-top: none;
}

.text-input1 {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #232935;
  color: white;
  transition: all 0.2s ease;
}

.text-input1:focus + .labelline1 {
  color: orange;
  height: 30px;
  transform: translate(4px, -45px);
  z-index: 1222;
  font-size: 15px;
  padding: 0 10px;

  background-color: #0a101e;
  border: 1px solid orange;
  border-top: none;
}

.text-input1.valid {
  color: grey;
  border: 1px solid orange;
}

.labelline1 {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 1.3em;
  margin: 13px 16px;
  transition: all 0.2s ease;
  background-color: transparent;
  color: grey;
}

.text-input1.valid + .labelline1 {
  color: orange;
  height: 30px;
  transform: translate(4px, -45px);
  z-index: 1222;
  font-size: 15px;
  padding: 0 10px;
  background-color: #0a101e;
  border: 1px solid orange;
  border-top: none;
}
