@media only screen and (max-width: 767px) {
  .download-cv {
    /* width: 100%;
    height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-download {
    width: 60%;
    height: 50px;
  }
  .info-nen {
    display: none !important;
  }
  .navbar-container {
    display: none;
  }
  .image-content {
    display: none !important;
  }
  .image-content-about img {
    width: 100%;
    height: 100%;
  }
}
