.App {
  text-align: center;

  /* background-color: rgb(10, 16, 30); */
  background: linear-gradient(
    to bottom,
    #070d1b 33%,
    rgb(10, 16, 30) 33%,
    rgb(10, 16, 30) 49%,
    #070d1b 49%,
    #070d1b 68%,
    rgb(10, 16, 30) 68%,
    rgb(10, 16, 30) 84%,
    #070d1b 84%,
    #070d1b 100%
  );
  /* max-width: auto; */
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
